.form_container
{

    display: flex;
    flex-direction: column;
    margin: 10px 0;
    
}
.form_element
{
color: var(--primary-muted-color);
display: flex;
flex-direction: column;
margin: 5px 0;
gap: 10px   ;
}
.form_element input,.form_element button,.form_element textarea

{
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.form_element textarea
{
    min-width: 100%;
    max-width: 100%;
}

.form_element button
{
width: 100px;
cursor: pointer;
background-color: var(--primary-bright-color);
color: #fff;
}

.expandable_container
{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    

    width: 100%;
}
.expandable_header
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expandable_title
{
    font-weight: 600;
}
.expandable_buttons
{
    display: flex;
    flex-direction: row;
}